<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    


    <title>AirSoft</title>

    <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
      <!-- header -->
        <header class="container-fluid">
    <!-- container -->
            <section class="container">
      <!-- row -->
                <article class="row d-flex align-items-center">

        <!-- logo -->
        <a  class="col-md-2 d-flex justify-content-center">
          <img src="./imagens/logo-144x144.png" class="img-fluid" alt="Logo da empresa - Mov Airsoft">

        </a>

        <!-- buscador -->
        <form action="#" class="col-md-7 d-flex align-items-center">
        </form>

        <!-- administrativo usuário/jogador -->
        <!-- Menu logar -->
        <ul class="col-md-3 nav d-flex align-items-center justify-content-around">
          
          <!-- Menu Cadastrar -->
          
              @if(User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                        Olá, @User.Identity.Name;<a class="nav-link text-dark" asp-area="" asp-controller="Cadastrar" asp-action="Logout">Sair</a>
                        </li> 
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Equipes" asp-action="Index">Equipes</a>
                        </li> 
                        
                        }
                   else
                        {
                            <li class="nav-item">
                               <a class="nav-link text-dark" asp-area="" asp-controller="Cadastrar" asp-action="Login">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              </svg>Entrar
            </a>
                        </li>}
                    @if (!User.Identity.IsAuthenticated)
                    {<li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Cadastrar" asp-action="Create" class="notificacao d-flex align-items-center justify-content-center">
                Cadastrar
                 <img src="./imagens/alvo.png" class="img-fluid" alt="Alvo - icone Cadastrar">
              </a>
              </li>

                    }
                                       
            </ul>
        <!-- end administrativo do cliente -->
      </article>
      <!-- row -->
    </section>
    <!-- end container -->
  </header>
  <!-- end header -->

@*    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjetoAirSoft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if(User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                        Olá, @User.Identity.Name;<a class="nav-link text-dark" asp-area="" asp-controller="Cadastrar" asp-action="Logout">Sair</a>
                        </li> 
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Equipes" asp-action="Create">Equipes</a>
                        </li> 
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Eventos" asp-action="Create">Eventos</a>
                        </li> 
                        }
                        else
                        {
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cadastrar" asp-action="Login">Login</a>
                        </li> 
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     <!-- Footer -->
  <footer class="container-fluid">
    <!-- container -->
    <section class="container">
      <!-- menus -->
      <div class="linha text-center">
        <p>______________________________________________________</p>
      </div>
      <!-- icons contato -->
      <ul>
        <li><img src="./imagens/favicons/facebook.png" alt="facebook">></li>
        <li><><img src="./imagens/favicons/instagran.png" alt="instagran"></li>
        <li> <img src="./imagens/favicons/whatsapp.png" alt="whatsapp"></li>
        <li><img src="./imagens/favicons/tweeter.png" alt="twitter">></li>
        <li><img src="./imagens/favicons/email.png" alt="email"></li>
      </ul>
      <div class=termos-politica>
        <a  id="termos">Termos de uso</a>
        <a  id="politic-privacid">Política de Privacidade</a>
        <p>© 2021 por MOV AIRSOFT. Todos os direitos reservados</p>
      </div>
      <!-- end menus -->
    </section>
    <!-- end container -->
  </footer>
  <!-- end Footer-->

 @*   <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ProjetoAirSoft - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

@*    Script do VS code*@
    <script src="./lib/jquery/dist/jquery.js"></script>
  <script src="./lib/jquery/dist/popper.js"></script>
  <script src="./lib/bootstrap/dist/js/bootstrap.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
